<!doctype html>
<html>
  <head>
    <title> MTG Draft Deck Mana Balancer v0.01!!! </title>
  </head>
   <body>

      <form action = "http://localhost:4000/result" method = "POST">
         <p>How many lands are you using? <input type = "int" name = "mana" /></p>
         <p>How many blue symbols in your cards? <input type = "int" name = "blue" /></p>
         <p>How many red? <input type = "int" name = "red" /></p>
         <p>Green? <input type = "int" name = "green" /></p>
         <p>Black? <input type ="int" name = "black" /></p>
         <p>White? <input type ="int" name = "white" /></p>
         <p>Colorless? <input type ="int" name = "colorless" /></p>

         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
